* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background:url(../img/pexels-felix-mittermeier-1146134.jpg);
    background-size: cover;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.874);
}

.container {
    padding-top: 50px;
    width: 70%;
    margin: auto;
}

.input {
margin-bottom: 30px;
padding-top: 10px;
    text-align: center;
}

input {
    padding: 10px;
    margin: 15px 0;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
}
.input p{
    color: rgba(255, 255, 255, 0.905);
}

.row {
    display: inline-block;
    background: linear-gradient(to right, #ff5f6ce3, #ffc471e6);
    padding: 10px;
    border-radius: 5px ;
  
}
.baitap{
    width: 50%;
    margin: auto;
    margin-bottom: 5px;
}
button {
    outline: none;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid transparent;
    background-color:#4B70E2;
    font-size: 12px;
    margin: 10px 0;
    margin-right: 20px;
    color: rgb(235, 227, 227);
    transition: 0.5s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
button:hover{
 color: rgb(253, 251, 251);
}

.none{
    display: none;
}

.bt__title{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border: 1px solid #A3CFBB;
    background-color:#d1e7ddd3;
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.bt__title i{
    color: #198754;
    transition: 0.5s;
}
i:hover{
    transform: rotate(180deg);
}

.bt__content{
    min-height: 100px;
    background-color: #efeded83 ;
    padding: 0 20px;

}
.bt__content span{
    color: white;
}